body {
    background-color: rgb(255, 255, 255);
}

h2 {
    padding-left: 5%;
    margin-bottom: 10px;
    font-size: 1.4em;
}

/*Some input styling*/
.title {
    font-family: "Lato", sans-serif;
    margin: 15px 5%;
}

.input_container {
    padding-left: 5%;
    padding-bottom: 1%;
}

.input_container>* {
    font-family: "Lato", sans-serif;

    margin-bottom: 10px;
    font-size: 20px;

    border-radius: 5px;
    border: 1px solid #dadada;
    background-color: white;
    padding: 5px;
}

.input_container>button {
    padding: 5px 25px;
}

input {
    font-family: "Lato", sans-serif;

    font-size: 20px;

    border-radius: 5px;
    border: 1px solid #dadada;
    background-color: #ffffff;
    padding: 5px 20px;
}

input:focus,
button:focus,
select:focus {
    outline: 0;
}

button:hover,
.btn:hover,
select:hover,
input:focus {
    background-color: #fdfdfd;
    border: 1px solid #75a1f3;
}

button:active,
.btn:active {
    background-color: #f7f7f7;
    border: 1px solid #75a1f3;
}

.editbutton {
    font-family: "Lato", sans-serif;

    font-size: 20px;

    border-radius: 5px;
    border: 1px solid #dadada;
    background-color: white;
    padding: 5px 25px;
}

.delete {
    color: rgb(248, 116, 116);
}

/*Table Styles*/
table {
    width: 90%;
    margin: 0 5% 2.5% 5%;
    background-color: rgb(250, 250, 250);

    border-collapse: collapse;
    border: 1px solid #dadada;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
}

th {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: left;

    border: 0px none;
    padding: 15px 0 10px 25px;
    color: rgba(65, 65, 65, 0.8);
}

td {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: left;

    border-top: 1px solid rgba(156, 156, 156, 0.8);
    border-left: 0px none;
    border-right: 0px none;
    padding: 16px 0;
    padding-left: 25px;
    color: #2A2A2A;
}

tr:last-child>td {
    border-bottom: 0px;
}